PORT=3000

MONGODB_URI=mongodb://localhost:27017/enterprise-knowledge-hub

JWT_SECRET=change-this-to-a-long-random-secret
JWT_REFRESH_SECRET=change-this-to-another-long-random-secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Pinecone
PINECONE_API_KEY=your-pinecone-api-key-here
PINECONE_INDEX_NAME=enterprise-knowledge-hub
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1

GEMINI_API_KEY=-api-key-here
COHERE_API_KEY=apikey
